@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;

    background:linear-gradient(45deg, #7A1036, #FF7EBE, #F5D0E2);
}

.heart {
    position: fixed;
    top: -1vh;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
    z-index: -1;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}

.container{
    width: 350px;
    color: black;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 25px;
    
       
}
h1{
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}
.diddy-kong{
    width: 100%;
}

.h2{
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
}

.container div{
    width: 100%;
    padding: 0px 15px;
    text-align: justify;
}

.introduction h3{
    
    text-align: center;
    padding: 20px 0px;
}


.button{
    background: #161616;
    color: #FFFFFF;
    text-decoration: none !important;
    padding: 12px 12px !important;
    border-radius: 36px;
    font-size: 13px;
    box-shadow: 2px 5px 10px  #e4e4e4;
    transition: all 150ms linear;
    text-align: center !important;
    width: 130px !important;
    margin: auto;
    font-weight: bold;

}

.button:hover{
        
        opacity: .85;;
      
}

img{
    width:100%;
}










